In [ ]:
use Northwind

In [ ]:
SELECT FirstName,LastName,Title, BirthDate,HireDate FROM Northwind.dbo.Employees where Title='Sales Representative'

In [ ]:
--Concatenation
select FirstName+LastName as FullName from Northwind.dbo.Employees
--Adding separator
select FirstName+' '+LastName as FullName from Northwind.dbo.Employees

--using built-in Concat() function
select CONCAT(FirstName,' ',LastName) as FullName from Northwind.dbo.Employees

--GetDate is of type Date so we have to Convert it into varchar to perform concatenation
select 'Today is:' + Convert(varchar, GETDATE(),1) as TodayDate
select CONCAT('Today is:',Convert(varchar, GETDATE(),1)) as TodayDate

In [ ]:

--CAST(expression as datatype[length]) #length is optional

SELECT CAST(GETDATE() as varchar(11)) AS Today

--CONVERT(datatype([length]),expression, style) 
-- CONVERT() has some styling capabilities, 3 arguements and 3rd param is optional 
select CONVERT(varchar(50), GETDATE()) AS Today
select CONVERT(varchar(50), GETDATE(),101) AS Today

--Incompatible conversions and handling them

select CAST('hello world' as int) -- incompatible conversion
select Convert(int,'hello world') -- incompatible conversion

select TRY_CAST('hello world' as int)  --compatible conversion
select TRY_CONVERT(int, 'HELLO WORLD') --compatible conversion

In [ ]:
--Datename() method returning output as formatted string  -- *** RETURN STRING *** --

SELECT DATENAME(MONTH,'06/25/2020') as month
SELECT DATENAME(YEAR,'06/25/2020') as year
SELECT DATENAME(QUARTER,'06/25/2020') as quaster
SELECT DATENAME(DAYOFYEAR,'06/25/2020') as dayofyear
SELECT DATENAME(WEEKDAY,'06/25/2020') as weekday
SELECT DATENAME(WEEK,'06/25/2020') as week -- week of the year
SELECT DATENAME(ISO_WEEK,'06/25/2020')  as iso_week



SELECT CONCAT('today is: ' , DATENAME(WEEKDAY, '06/25/2020')) as _output
SELECT CONCAT('today is: ' , DATENAME(WEEKDAY, '06/25/2020'),' and year is: ',DATENAME(YEAR,'06/25/2020')) as _output

In [ ]:
--Datepart() method returning output as formatted string    -- ** RETURN INTEGER ** --

select DATEPART(MONTH,'06/25/2020') as month
select DATEPART(year,'06/25/2020') as year
select DATEPART(WEEKDAY,'06/25/2020') as weekday
select DATEPART(QUARTER,'06/25/2020') as quarter
select DATEPART(DAYOFYEAR,'06/25/2020') as dayofyear

In [ ]:
-- DATEPART VS DATENAME FUNCTION
SELECT DATENAME(WEEKDAY,GETDATE()), DATENAME(MONTH,GETDATE()), DATENAME(QUARTER,GETDATE())
SELECT DATEPART(WEEKDAY,GETDATE()), DATEPART(MONTH,GETDATE()), DATEPART(QUARTER,GETDATE())

In [ ]:
--DATEDIFF() AND DATEADD()

--SELECT * FROM Northwind.dbo.Orders

--SELECT DATEDIFF(D,OrderDate, ShippedDate ) FROM Northwind.dbo.Orders

--SELECT DATEDIFF(DAY,OrderDate,ShippedDate)  FROM Northwind.dbo.Orders ORDER BY DATEDIFF(DAY,OrderDate,ShippedDate) 

/* ORDERS THAT HAVE BEEN ORDERED BUT NOT SHIPPED YET*/
-- SELECT OrderDate,ShippedDate FROM Northwind.DBO.Orders WHERE DATEDIFF(DAY,OrderDate,ShippedDate) IS NULL

SELECT OrderDate,ShippedDate FROM Northwind.DBO.Orders 
WHERE 
    DATEDIFF(DAY,OrderDate,ShippedDate) IS NULL or DATEDIFF(DAY,OrderDate,ShippedDate) >30

In [ ]:
-- Notice the difference between concat() and concat_ws(). 

SELECT
    --concat_ws requires passing separator only once but with Concat() we need to pass separator multiple times
    --trim() is used for  removing leading and trailing space. there is ltrim() and rtrim() as well
    TRIM(Concat(e.FirstName,' ', e.LastName,' ','test')) as FullNameUsingConcat, 
    TRIM(Concat_ws(' ',e.FirstName, e.LastName)) as FullNameUsingConcat_ws, 

    c.CompanyName , 
    c.ContactName, 
    CONVERT(varchar,o.OrderDate,101) as OrderDate,  --101 is style code that returns month/day/year -- 107**
    CONVERT(varchar,o.ShippedDate,101) as ShippedDate,

    --DATEDIFF return date type so we have to CAST it because there can be only one data type for one column
    CASE WHEN DATEDIFF(DAY, o.OrderDate,o.ShippedDate) IS NOT NULL 
        THEN CAST(DATEDIFF(DAY, o.OrderDate,o.ShippedDate) AS varchar) ELSE 'Order Pending' END
    as DaysToShsip 

from Northwind.DBO.Employees e

JOIN Northwind.dbo.Orders o on e.EmployeeID = o.EmployeeID
JOIN Northwind.dbo.Customers c on c.CustomerID = o.CustomerID

where DATEDIFF(DAY,OrderDate,ShippedDate) IS NULL or DATEDIFF(DAY,OrderDate,ShippedDate) > 30

In [ ]:
--Inner join
update Northwind.dbo.Orders set CustomerID='VINET' where OrderID=10248
select 
    p.ProductName,
    Convert(varchar,o.OrderDate,101) as OrderDate,
    Convert(varchar,o.ShippedDate,101) as ShippedDate,
    o.ShipAddress,
    d.UnitPrice,
    d.Quantity,
    d.Discount ,
    (d.UnitPrice * d.Quantity) as TotalPrice

from Northwind.dbo.Orders o JOIN
Northwind.dbo.[Order Details] d ON o.OrderID = d.OrderID
JOIN Northwind.dbo.Products AS p ON p.ProductID = d.ProductID
JOIN Northwind.dbo.Customers as c ON o.CustomerID = c.CustomerID
where o.OrderID=10248

In [ ]:
--LEFT JOIN RETURNS THE DATA FROM LEFT TABLE AND ANY MATCHING DATA FROM THE RIGHT TABLE ELSE NULL
-- RIGHT JOIN IS EXACTLY OPPOSITE TO THE LEFT JOIN

update Northwind.dbo.Orders set CustomerID=NULL where OrderID=10248
select 
    p.ProductName,
    Convert(varchar,o.OrderDate,101) as OrderDate,
    Convert(varchar,o.ShippedDate,101) as ShippedDate,
    o.ShipAddress,
    d.UnitPrice,
    d.Quantity,
    d.Discount ,
    (d.UnitPrice * d.Quantity) as TotalPrice,
    c.*

from Northwind.dbo.Orders o JOIN
Northwind.dbo.[Order Details] d ON o.OrderID = d.OrderID
JOIN Northwind.dbo.Products AS p ON p.ProductID = d.ProductID
LEFT JOIN  Northwind.dbo.Customers as c ON o.CustomerID = c.CustomerID
where o.OrderID=10248

In [ ]:
--FULL JOIN returns all records from left and right table.
select CompanyName, OrderID from Northwind.dbo.Customers c full join Northwind.dbo.Orders o on c.CustomerID = o.CustomerID order by OrderID

In [ ]:
--SELF JOIN join 2 instances of the same table



select 
    emp.EmployeeID,
    TRIM(CONCAT_WS(' ', emp.FirstName,emp.LastName)) as Employee,
    man.EmployeeID as ManagerID,

    CASE WHEN man.EmployeeID IS NULL 
        THEN 'No Manager' ELSE TRIM(CONCAT_WS(' ', man.FirstName,man.LastName)) 
    END AS Manager

from  Northwind.dbo.Employees as emp left join Northwind.dbo.Employees as man on man.ReportsTo = emp.EmployeeID

In [ ]:
--3 comparision possibilities
select 
    o.OrderID,
    c.CompanyName,
    CONVERT(varchar,o.OrderDate,101) as OrderDate,
    (CASE WHEN o.ShippedDate IS NOT NULL THEN CONVERT(varchar, o.ShippedDate,107) ELSE 'Pending' END) as Status,
    FORMAT(SUM(d.Quantity * d.UnitPrice), 'N','en-us') as Total

from Northwind.dbo.Orders o JOIN
    Northwind.dbo.[Order Details] d ON o.OrderID = d.OrderID
    JOIN Northwind.dbo.Customers as c ON o.CustomerID = c.CustomerID

    where 
    DATEPART(YEAR,o.OrderDate) < 2015  --1 
    --CONVERT(varchar,o.OrderDate,101) >= '07/20/2016' AND CONVERT(varchar,o.OrderDate,101)  <= '01/01/2017' --2
    --CONVERT(varchar,o.OrderDate,101) BETWEEN '07/04/1996' AND '07/04/1997' --3
GROUP BY   c.CompanyName,o.ShippedDate,o.OrderDate, o.OrderID

In [ ]:
--NESTED SELECTS IN WHERE CONDITION 

-- we want product only for which Discontinued=1
-- select * from Northwind.dbo.Products where Discontinued=1

-- we copied the ID of all products with Discontinued=1 and put them in the IN clause 
--  select * from Northwind.dbo.Products where ProductID in (5,9,17,24,28,29,42,53)

-- Now we lookup all those discontinued product ids in the order details table
-- This is the query that we can now embbed in our where clause to get details about only discontinued products
-- select * from Northwind.dbo.[Order Details] where ProductID in (select * from Northwind.dbo.Products where Discontinued=1)


 -- Notice the nested select statement in the where clause rather than we write product ids manually for those product having discontinued=1
select 
    o.OrderID,
    c.CompanyName,
    CONVERT(varchar,o.OrderDate,101) as OrderDate,
    (CASE WHEN o.ShippedDate IS NOT NULL THEN CONVERT(varchar, o.ShippedDate,107) ELSE 'Pending' END) as Status,
    FORMAT(SUM(d.Quantity * d.UnitPrice), 'N','en-us') as Total

from Northwind.dbo.Orders o JOIN
    Northwind.dbo.[Order Details] d ON o.OrderID = d.OrderID
    JOIN Northwind.dbo.Customers as c ON o.CustomerID = c.CustomerID

    where 

        d.ProductID in (select ProductID from Northwind.dbo.Products where Discontinued=1)  --filtered only discontinued products
        and  d.OrderID=10262  --FILTER ON order id 10262 for validation purposes

    ---- filtering on 10262 gives us (10262	Rattlesnake Canyon Grocery	07/22/1996	Jul 25, 1996	204.00)
    -- lets validate 204 below.

GROUP BY   c.CompanyName,o.ShippedDate,o.OrderDate, o.OrderID

In [ ]:
--nested select in where CONT.    -- Validation

select FORMAT(SUM(d.Quantity * d.UnitPrice), 'N','en-us') as Total from Northwind.dbo.[Order Details] as d join Northwind.dbo.Products as p on d.ProductID = p.ProductID 
where d.OrderID= 10262

--10262	Rattlesnake Canyon Grocery	07/22/1996	Jul 25, 1996	624.80

--DISCREPANCY FOUND and lets resolve it below.

In [ ]:
--nested select in where CONT.    -- Investigation of discrepancy

select * from Northwind.dbo.[Order Details] as d join Northwind.dbo.Products as p on d.ProductID = p.ProductID  where d.OrderID= 10262

--Running it gives 3 rows out of which only one product is marked as discontiued
-- for that one discontinued product multiplying unit price (17) by quantity (12) gives us 240

-- So the problem is that our initial query in which we tried to limit products.
-- it is not limited to the orders containing discontinued products but its limiting the products to be included

In [ ]:
--nested select in where CONT.   -- CORRECT QUERY AFTER INVESTIGATION

-- we need to filter on order id rather than product id 
select 
    o.OrderID,
    c.CompanyName,
    CONVERT(varchar,o.OrderDate,101) as OrderDate,
    (CASE WHEN o.ShippedDate IS NOT NULL THEN CONVERT(varchar, o.ShippedDate,107) ELSE 'Pending' END) as Status,
    FORMAT(SUM(d.Quantity * d.UnitPrice), 'N','en-us') as Total

from Northwind.dbo.Orders o JOIN
    Northwind.dbo.[Order Details] d ON o.OrderID = d.OrderID
    JOIN Northwind.dbo.Customers as c ON o.CustomerID = c.CustomerID

    -- used OrderId instead of product id because we need to filter on order ID
    -- using order id would require us to join with products table and return only those order ids in which the product id is marked as discontinued
    -- in the products table
    where 
        d.OrderID  in (
                select OrderID from Northwind.dbo.[Order Details] as od join Northwind.dbo.Products as p on od.ProductID = p.ProductID
                where p.Discontinued=1)   -- this nested select is important to understand
        and  d.OrderID=10262  --filter again on the same order id and we will see correct results this time i-e 624
GROUP BY   c.CompanyName,o.ShippedDate,o.OrderDate, o.OrderID

In [ ]:
--fetch and offset --OFFSET 0 ROWS FETCH NEXT 5 ROWS ONLY
-- order by is required with offset and fetch

DECLARE @offset  INT
DECLARE @fetch INT

SET @offset =5
SET @fetch = 10

SELECT * FROM Northwind.DBO.Products 
ORDER BY ProductID
OFFSET @offset ROWS FETCH NEXT @fetch ROWS ONLY

In [ ]:
--set operators
-- union return unique records from both sets
--union all returns all records (duplicates) from both sets
--intersect return common records in both sets
--except acts as difference (a except b means return all records of a which are not in b)

In [ ]:
--common table expression

--common table expression must first define its name and field names and then followed by a select query 
-- the select portion of the query used to popualate query must have same no of columns as of the columns defined for CTE
--CTE fields will inherit the data types from the select command

WITH employeesCTE (EmployeeId, FirstName, LastName)
    as (select  EmployeeId, trim(FirstName), trim(LastName) from Northwind.dbo.Employees)

SELECT * from employeesCTE

In [ ]:
--common table expression cont.
-- region count and average sales per region group by employee id

WITH regionCTE (EmployeeID, RegionCount, RegionAverageSales)
as 
    (select 
        EmployeeID,
        COUNT(o.ShipRegion) as RegionCount, 
        Sum(od.UnitPrice * od.Quantity) / COUNT(o.ShipRegion) RegionAverageSales
    from Northwind.dbo.Orders o join Northwind.dbo.[Order Details] od on o.OrderID = od.OrderID GROUP by EmployeeID
    )

select * from regionCTE

In [ ]:
--common table expression cont.
WITH totalAllCTE (EmployeeID,TotalAllSalesCount,TotalAllSales,AverageIndividualSalesAmount)
as 
(
    select 
        EmployeeId, 
        COUNT(distinct o.OrderID) TotalAllSalesCount,
        SUM(od.UnitPrice * od.Quantity) as TotalAllSales,
        SUM(od.UnitPrice * od.Quantity) / COUNT(distinct o.OrderID) as AverageIndividualSalesAmount
        
    from Northwind.dbo.Orders o join Northwind.dbo.[Order Details] od on o.OrderID = od.OrderID group by EmployeeID
)

select * from totalAllCTE

In [ ]:
--common table expression cont.
--Common table expressions are treated more as variables 
--all CTE Combined
WITH employeesCTE (EmployeeId, FirstName, LastName)
    as (select  EmployeeId, trim(FirstName), trim(LastName) from Northwind.dbo.Employees),

regionCTE (EmployeeID, RegionCount, RegionAverageSales)
as 
    (select 
        EmployeeID,
        COUNT(o.ShipRegion) as RegionCount, 
        Sum(od.UnitPrice * od.Quantity) / COUNT(o.ShipRegion) RegionAverageSales
    from Northwind.dbo.Orders o join Northwind.dbo.[Order Details] od on o.OrderID = od.OrderID GROUP by EmployeeID
    ),

totalAllCTE (EmployeeID,TotalAllSalesCount,TotalAllSales,AverageIndividualSalesAmount)
as 
(
    select 
        EmployeeId, 
        COUNT(distinct o.OrderID) TotalAllSalesCount,
        SUM(od.UnitPrice * od.Quantity) as TotalAllSales,
        SUM(od.UnitPrice * od.Quantity) / COUNT(distinct o.OrderID) as AverageIndividualSalesAmount
        
    from Northwind.dbo.Orders o join Northwind.dbo.[Order Details] od on o.OrderID = od.OrderID group by EmployeeID
)

select * from employeesCTE e left join regionCTE r on e.EmployeeId = r.EmployeeID left join totalAllCTE a on r.EmployeeID = a.EmployeeID

In [ ]:
-- Temporary tables
-- temporary table takes its field properties from the query used to populate the table. 
-- But all fields in the query must be assigned a name. 


select  EmployeeId, trim(FirstName) as FirstName, trim(LastName)  as LastName into #Employees from Northwind.dbo.Employees

-- once created this temp tables stays in memory until we drop then. attempting their re-creation would result in an error



select 
    EmployeeID,
    COUNT(o.ShipRegion) as RegionCount, 
    Sum(od.UnitPrice * od.Quantity) / COUNT(o.ShipRegion) RegionAverageSales
INTO #EmployeeRegionInfo
from Northwind.dbo.Orders o join Northwind.dbo.[Order Details] od on o.OrderID = od.OrderID GROUP by EmployeeID



select 
    EmployeeId, 
    COUNT(distinct o.OrderID) TotalAllSalesCount,
    SUM(od.UnitPrice * od.Quantity) as TotalAllSales,
    SUM(od.UnitPrice * od.Quantity) / COUNT(distinct o.OrderID) as AverageIndividualSalesAmount
INTO #EmployeesAllSales  
from Northwind.dbo.Orders o join Northwind.dbo.[Order Details] od on o.OrderID = od.OrderID group by EmployeeID


select * from #Employees e left join #EmployeeRegionInfo r on e.EmployeeId = r.EmployeeID left join #EmployeesAllSales a on r.EmployeeID = a.EmployeeID



Drop table #Employees
drop TABLE #EmployeeRegionInfo
drop table #EmployeesAllSales



-- Validitiy of Common table expression & Temporary table
--scope of temporary tables will exist until they are dropped 
--scope of CTE is dropped automatically once the sql statement is executed

In [ ]:
-- fuller outer join behavior experiment

with fact_tbl as (
   select 2 as BussinessUnitKey,201907012 as datekey,34 as locationkey, 100 as Sales union all
   select 2 as BussinessUnitKey,201907022 as datekey,34 as locationkey, 200 as Sales union all 
   select 2 as BussinessUnitKey,201907032 as datekey,34 as locationkey, 300 as Sales union all 
   select 2 as BussinessUnitKey,201907042 as datekey,34 as locationkey, 400 as Sales union all
   select 2 as BussinessUnitKey,201907052 as datekey,34 as locationkey, 500 as Sales union ALL

   select 2 as BussinessUnitKey,201908012 as datekey,39 as locationkey, 300 as Sales union ALL
   select 2 as BussinessUnitKey,201908022 as datekey,39 as locationkey, 500 as Sales union ALL
   select 2 as BussinessUnitKey,201908032 as datekey,39 as locationkey, 600 as Sales union ALL
   select 2 as BussinessUnitKey,201908042 as datekey,39 as locationkey, 200 as Sales union ALL
   select 2 as BussinessUnitKey,201908052 as datekey,39 as locationkey, 100 as Sales union ALL

   select 3 as BussinessUnitKey,201807052 as datekey,39 as locationkey, 500 as Sales union all
   select 3 as BussinessUnitKey,201807062 as datekey,39 as locationkey, 500 as Sales union all 
   select 3 as BussinessUnitKey,201807072 as datekey,39 as locationkey, 500 as Sales 
),

dimdate as (
    select 2 as BussinessUnitKey,201907012 as datekey,34 as locationkey union all
    select 2 as BussinessUnitKey,201907022 as datekey,34 as locationkey union all 
    select 2 as BussinessUnitKey,201907032 as datekey,34 as locationkey union all 
    select 2 as BussinessUnitKey,201907042 as datekey,34 as locationkey union all
    select 2 as BussinessUnitKey,201907052 as datekey,34 as locationkey union all
    select 2 as BussinessUnitKey,201907062 as datekey,34 as locationkey union all
    select 2 as BussinessUnitKey,201907072 as datekey,34 as locationkey union all

    select 2 as BussinessUnitKey,201908012 as datekey,39 as locationkey union all
    select 2 as BussinessUnitKey,201908022 as datekey,39 as locationkey union all 
    select 2 as BussinessUnitKey,201908032 as datekey,39 as locationkey union all 
    select 2 as BussinessUnitKey,201908042 as datekey,39 as locationkey union all
    select 2 as BussinessUnitKey,201908052 as datekey,39 as locationkey union all
    select 2 as BussinessUnitKey,201908062 as datekey,39 as locationkey union all
    select 2 as BussinessUnitKey,201908072 as datekey,39 as locationkey union all

    select 2 as BussinessUnitKey,201909012 as datekey,3 as locationkey union all
    select 2 as BussinessUnitKey,201909012 as datekey,3 as locationkey
),
factstore as (
    select 2 as BussinessUnitKey,201907012 as datekey,34 as locationkey, 200 as traffic union all
    select 2 as BussinessUnitKey,201907012 as datekey,34 as locationkey, 200 as traffic union all
    select 2 as BussinessUnitKey,201907022 as datekey,34 as locationkey, 300 as traffic union all
    select 2 as BussinessUnitKey,201907022 as datekey,34 as locationkey, 200 as traffic union all
    select 2 as BussinessUnitKey,201907032 as datekey,34 as locationkey, 100 as traffic union all
    select 2 as BussinessUnitKey,201907042 as datekey,34 as locationkey, 100 as traffic union all
    select 2 as BussinessUnitKey,201907042 as datekey,34 as locationkey, 300 as traffic union all
    select 2 as BussinessUnitKey,201907052 as datekey,34 as locationkey, 200 as traffic union all
    select 2 as BussinessUnitKey,201907062 as datekey,34 as locationkey, 300 as traffic union all
    select 2 as BussinessUnitKey,201907062 as datekey,34 as locationkey, 300 as traffic union all
    select 2 as BussinessUnitKey,201907072 as datekey,34 as locationkey, 200 as traffic union all 

    select 2 as BussinessUnitKey,201908012 as datekey,39 as locationkey, 200 as traffic union all
    select 2 as BussinessUnitKey,201908012 as datekey,39 as locationkey, 200 as traffic union all
    select 2 as BussinessUnitKey,201908022 as datekey,39 as locationkey, 300 as traffic union all
    select 2 as BussinessUnitKey,201908022 as datekey,39 as locationkey, 200 as traffic union all
    select 2 as BussinessUnitKey,201908032 as datekey,39 as locationkey, 100 as traffic union all
    select 2 as BussinessUnitKey,201908042 as datekey,39 as locationkey, 100 as traffic union all
    select 2 as BussinessUnitKey,201908042 as datekey,39 as locationkey, 300 as traffic union all
    select 2 as BussinessUnitKey,201908052 as datekey,39 as locationkey, 200 as traffic union all
    select 2 as BussinessUnitKey,201908062 as datekey,39 as locationkey, 300 as traffic union all
    select 2 as BussinessUnitKey,201908062 as datekey,39 as locationkey, 300 as traffic union all
    select 2 as BussinessUnitKey,201908072 as datekey,39 as locationkey, 200 as traffic union all

    select 2 as BussinessUnitKey,201909012 as datekey,3 as locationkey, 100 as traffic union all
    select 2 as BussinessUnitKey,201909012 as datekey,3 as locationkey, 100 as traffic
)

select 
    e.BussinessUnitKey,
    f.locationkey,
    e.datekey,
    SUM(traffic) as traffic, Sales 
from (

   select  
        b.BussinessUnitKey,
        b.datekey,
        a.locationkey,
        sum(Sales) as Sales 
        
    from fact_tbl a full join dimdate b on 

        (a.BussinessUnitKey = b.BussinessUnitKey OR (a.BussinessUnitKey IS NULL OR b.BussinessUnitKey IS NULL)) and 
        (a.datekey = b.datekey OR (a.datekey IS NULL OR b.datekey IS NULL))

    where (a.BussinessUnitKey =2 and a.datekey > = 201907012) OR (b.BussinessUnitKey =2 and b.datekey > = 201907012)
    group by b.BussinessUnitKey,b.datekey, a.locationkey 

) as e

left join  factstore f 
    on  f.BussinessUnitKey = e.BussinessUnitKey and f.datekey = e.datekey and 
    (f.locationkey = e.locationkey OR  (e.locationkey is null or f.locationkey is null))
    group by 
        e.BussinessUnitKey,
        f.locationkey,
        e.datekey,
        Sales 
    order by e.datekey